.weather-background{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-image: url("../assets/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.left-column{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}
.right-column{
    width: 60%;
    background-color: rgba(32, 32, 32, 0.363);
}
.weather-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.location, .degrees{
    font-size: 10vh;
}
.short-weather-info{
    font-size: 8vh;
}